@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

/* navbar */
.navbar{
    height:70px;
    font-size:14px;
    background-color: var(--dark-color);
    color: #fff;
}
.navbar ul{
    display: flex;
}
.navbar li a{
    color: #fff;
    padding: 10px;
    margin: 0 5px;
}
.navbar a:hover{
    border-bottom: solid 1.8px white;
}
.navbar .flex{
    justify-content:center;
}

.navbar .btn{
    position: absolute;
    margin: -10px 0;
    left: 90%;
}
.navbar .logo{
    position: absolute;
    right: 90%;
}
/* hero */